In [1]:
%pip install pandas
import pandas as pd

Collecting pandas
  Downloading pandas-1.5.3-cp310-cp310-win_amd64.whl (10.4 MB)
     --------------------------------------- 10.4/10.4 MB 31.2 MB/s eta 0:00:00
Collecting pytz>=2020.1
  Downloading pytz-2023.3-py2.py3-none-any.whl (502 kB)
     ------------------------------------- 502.3/502.3 kB 30.8 MB/s eta 0:00:00
Collecting numpy>=1.21.0
  Using cached numpy-1.24.2-cp310-cp310-win_amd64.whl (14.8 MB)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\tutin\dev\python\datavis\jupyter\project2\.conda\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\tutin\dev\python\datavis\jupyter\project2\.conda\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: pytz, numpy, pandas
Successfully installed numpy-1.24.2 pandas-1.5.3 pytz-2023.3
Note: you may need to restart the kernel to use updated packages.

In [4]:
data = []
for i in range(1, 6):
	df = pd.read_csv(f"./datasets/Morticd10_part{i}.csv")
	data.append(df)
print(data)

C:\Users\tutin\AppData\Local\Temp\ipykernel_52592\2609993049.py:3: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f"./datasets/Morticd10_part{i}.csv")
C:\Users\tutin\AppData\Local\Temp\ipykernel_52592\2609993049.py:3: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f"./datasets/Morticd10_part{i}.csv")
C:\Users\tutin\AppData\Local\Temp\ipykernel_52592\2609993049.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f"./datasets/Morticd10_part{i}.csv")
C:\Users\tutin\AppData\Local\Temp\ipykernel_52592\2609993049.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f"./datasets/Morticd10_part{i}.csv")
C:\Users\tutin\AppData\Local\Temp\ipykernel_52592\2609993049.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f"./datasets/Morticd10_part{i}.csv")

[         Country  Admin1  SubDiv  Year List Cause  Sex  Frmat  IM_Frmat  \
0           1400     NaN     NaN  2001  101  1000    1      7         8
1           1400     NaN     NaN  2001  101  1000    2      7         8
2           1400     NaN     NaN  2001  101  1001    1      7         8
3           1400     NaN     NaN  2001  101  1001    2      7         8
4           1400     NaN     NaN  2001  101  1002    1      7         8
...          ...     ...     ...   ...  ...   ...  ...    ...       ...
1022012     4290     NaN     NaN  1998  10M  Y859    2      0         1
1022013     4290     NaN     NaN  1998  10M   Y86    1      0         1
1022014     4290     NaN     NaN  1998  10M   Y86    2      0         1
1022015     4290     NaN     NaN  1998  10M  Y870    1      0         1
1022016     4290     NaN     NaN  1998  10M  Y872    1      0         1

         Deaths1  ...  Deaths21  Deaths22  Deaths23  Deaths24  Deaths25  \
0            332  ...      95.0       NaN       NaN       NaN       NaN
1            222  ...     112.0       NaN       NaN       NaN       NaN
2             24  ...       5.0       NaN       NaN       NaN       NaN
3             14  ...       6.0       NaN       NaN       NaN       NaN
4              0  ...       0.0       NaN       NaN       NaN       NaN
...          ...  ...       ...       ...       ...       ...       ...
1022012        1  ...       0.0       0.0       0.0       0.0       0.0
1022013       39  ...       3.0       6.0      11.0       0.0       1.0
1022014       57  ...       3.0      12.0      16.0      14.0       8.0
1022015        2  ...       0.0       0.0       0.0       0.0       0.0
1022016        1  ...       0.0       0.0       0.0       0.0       0.0

         Deaths26  IM_Deaths1  IM_Deaths2  IM_Deaths3  IM_Deaths4
0             0.0         8.0         NaN         NaN         NaN
1             0.0        11.0         NaN         NaN         NaN
2             0.0         0.0         NaN         NaN         NaN
3             0.0         0.0         NaN         NaN         NaN
4             0.0         0.0         NaN         NaN         NaN
...           ...         ...         ...         ...         ...
1022012       0.0         0.0         0.0         0.0         0.0
1022013       0.0         0.0         0.0         0.0         0.0
1022014       0.0         0.0         0.0         0.0         0.0
1022015       0.0         0.0         0.0         0.0         0.0
1022016       0.0         0.0         0.0         0.0         0.0

[1022017 rows x 39 columns],         Country  Admin1  SubDiv  Year List Cause  Sex  Frmat  IM_Frmat  \
0          1400     NaN     NaN  2003  101  1000    1      7         8
1          1400     NaN     NaN  2003  101  1000    2      7         8
2          1400     NaN     NaN  2003  101  1001    1      7         8
3          1400     NaN     NaN  2003  101  1001    2      7         8
4          1400     NaN     NaN  2003  101  1002    1      7         8
...         ...     ...     ...   ...  ...   ...  ...    ...       ...
958815     4240     NaN     NaN  2005  UE1  UE63    2      9         9
958816     4240     NaN     NaN  2005  UE1  UE64    1      9         9
958817     4240     NaN     NaN  2005  UE1  UE64    2      9         9
958818     4240     NaN     NaN  2005  UE1  UE65    1      9         9
958819     4240     NaN     NaN  2005  UE1  UE65    2      9         9

        Deaths1  ...  Deaths21  Deaths22  Deaths23  Deaths24  Deaths25  \
0           377  ...     102.0       NaN       NaN       NaN       NaN
1           291  ...     154.0       NaN       NaN       NaN       NaN
2            11  ...       3.0       NaN       NaN       NaN       NaN
3            17  ...       9.0       NaN       NaN       NaN       NaN
4             0  ...       0.0       NaN       NaN       NaN       NaN
...         ...  ...       ...       ...       ...       ...       ...
958815      218  ...       NaN       NaN       NaN       NaN       NaN
958816      115  ...       NaN       NaN       NaN       NaN       NaN
958817       37  ...       NaN       NaN       NaN       NaN       NaN
958818      682  ...       NaN       NaN       NaN       NaN       NaN
958819      329  ...       NaN       NaN       NaN       NaN       NaN

        Deaths26  IM_Deaths1  IM_Deaths2  IM_Deaths3  IM_Deaths4
0            0.0        14.0         NaN         NaN         NaN
1            0.0        11.0         NaN         NaN         NaN
2            0.0         0.0         NaN         NaN         NaN
3            0.0         1.0         NaN         NaN         NaN
4            0.0         0.0         NaN         NaN         NaN
...          ...         ...         ...         ...         ...
958815       NaN         NaN         NaN         NaN         NaN
958816       NaN         NaN         NaN         NaN         NaN
958817       NaN         NaN         NaN         NaN         NaN
958818       NaN         NaN         NaN         NaN         NaN
958819       NaN         NaN         NaN         NaN         NaN

[958820 rows x 39 columns],          Country  Admin1 SubDiv  Year  List Cause  Sex  Frmat  IM_Frmat  \
0           1400     NaN    NaN  2008   101  1000    1      7         8
1           1400     NaN    NaN  2008   101  1000    2      7         8
2           1400     NaN    NaN  2008   101  1001    1      7         8
3           1400     NaN    NaN  2008   101  1001    2      7         8
4           1400     NaN    NaN  2008   101  1002    1      7         8
...          ...     ...    ...   ...   ...   ...  ...    ...       ...
1045306     2085     NaN    NaN  2012   104  W349    1      0         8
1045307     2085     NaN    NaN  2012   104  W349    2      0         8
1045308     2085     NaN    NaN  2012   104  W749    1      0         8
1045309     2085     NaN    NaN  2012   104  W749    2      0         8
1045310     2085     NaN    NaN  2012   104  X999    1      0         8

         Deaths1  ...  Deaths21  Deaths22  Deaths23  Deaths24  Deaths25  \
0            392  ...     117.0       NaN       NaN       NaN       NaN
1            271  ...     163.0       NaN       NaN       NaN       NaN
2             24  ...       8.0       NaN       NaN       NaN       NaN
3             15  ...       9.0       NaN       NaN       NaN       NaN
4              0  ...       0.0       NaN       NaN       NaN       NaN
...          ...  ...       ...       ...       ...       ...       ...
1045306        1  ...       0.0       0.0       0.0       0.0       0.0
1045307        1  ...       0.0       0.0       0.0       0.0       0.0
1045308        3  ...       0.0       0.0       0.0       0.0       0.0
1045309        1  ...       0.0       0.0       0.0       0.0       0.0
1045310        2  ...       0.0       0.0       0.0       0.0       0.0

         Deaths26  IM_Deaths1  IM_Deaths2  IM_Deaths3  IM_Deaths4
0             0.0        14.0         NaN         NaN         NaN
1             0.0         6.0         NaN         NaN         NaN
2             0.0         0.0         NaN         NaN         NaN
3             0.0         0.0         NaN         NaN         NaN
4             0.0         0.0         NaN         NaN         NaN
...           ...         ...         ...         ...         ...
1045306       0.0         0.0         NaN         NaN         NaN
1045307       0.0         0.0         NaN         NaN         NaN
1045308       0.0         0.0         NaN         NaN         NaN
1045309       0.0         0.0         NaN         NaN         NaN
1045310       0.0         0.0         NaN         NaN         NaN

[1045311 rows x 39 columns],         Country  Admin1 SubDiv  Year  List Cause  Sex  Frmat  IM_Frmat  \
0          1400     NaN    NaN  2013   101  1000    1      7         1
1          1400     NaN    NaN  2013   101  1000    2      7         1
2          1400     NaN    NaN  2013   101  1001    1      7         1
3          1400     NaN    NaN  2013   101  1001    2      7         1
4          1400     NaN    NaN  2013   101  1002    1      7         1
...         ...     ...    ...   ...   ...   ...  ...    ...       ...
876992     5020     NaN    NaN  2016   104  Y870    2      0         1
876993     5020     NaN    NaN  2016   104  Y883    1      0         1
876994     5020     NaN    NaN  2016   104  Y883    2      0         1
876995     5020     NaN    NaN  2016   104  Y899    1      0         1
876996     5020     NaN    NaN  2016   104  Y899    2      0         1

        Deaths1  ...  Deaths21  Deaths22  Deaths23  Deaths24  Deaths25  \
0           383  ...     128.0       NaN       NaN       NaN       NaN
1           334  ...     192.0       NaN       NaN       NaN       NaN
2            28  ...       8.0       NaN       NaN       NaN       NaN
3            30  ...      16.0       NaN       NaN       NaN       NaN
4             0  ...       0.0       NaN       NaN       NaN       NaN
...         ...  ...       ...       ...       ...       ...       ...
876992        2  ...       0.0       0.0       0.0       0.0       0.0
876993        6  ...       0.0       1.0       1.0       0.0       0.0
876994        7  ...       1.0       1.0       1.0       2.0       0.0
876995        6  ...       0.0       0.0       2.0       0.0       0.0
876996        2  ...       0.0       0.0       0.0       0.0       0.0

        Deaths26  IM_Deaths1  IM_Deaths2  IM_Deaths3  IM_Deaths4
0            0.0         5.0         1.0         2.0         4.0
1            0.0         2.0         7.0         3.0         5.0
2            0.0         0.0         0.0         0.0         0.0
3            0.0         0.0         2.0         2.0         1.0
4            0.0         0.0         0.0         0.0         0.0
...          ...         ...         ...         ...         ...
876992       0.0         0.0         0.0         0.0         0.0
876993       0.0         0.0         0.0         0.0         0.0
876994       0.0         0.0         0.0         0.0         0.0
876995       0.0         0.0         0.0         0.0         0.0
876996       0.0         0.0         0.0         0.0         0.0

[876997 rows x 39 columns],         Country  Admin1 SubDiv  Year  List Cause  Sex  Frmat  IM_Frmat  \
0          4303     NaN    NaN  2017   101  1000    1      1         8
1          4303     NaN    NaN  2017   101  1000    2      1         8
2          4303     NaN    NaN  2017   101  1001    1      1         8
3          4303     NaN    NaN  2017   101  1001    2      1         8
4          4303     NaN    NaN  2017   101  1002    1      1         8
...         ...     ...    ...   ...   ...   ...  ...    ...       ...
811503     5020     NaN    NaN  2021   104  Y871    2      0         1
811504     5020     NaN    NaN  2021   104  Y872    1      0         1
811505     5020     NaN    NaN  2021   104  Y880    1      0         1
811506     5020     NaN    NaN  2021   104  Y883    1      0         1
811507     5020     NaN    NaN  2021   104  Y883    2      0         1

        Deaths1  ...  Deaths21  Deaths22  Deaths23  Deaths24  Deaths25  \
0        281784  ...   43174.0   29856.0   29184.0       NaN       NaN
1        292339  ...   56037.0   52655.0   88271.0       NaN       NaN
2          6198  ...      62.0      36.0      15.0       NaN       NaN
3          2516  ...      86.0      45.0      29.0       NaN       NaN
4             0  ...       0.0       0.0       0.0       NaN       NaN
...         ...  ...       ...       ...       ...       ...       ...
811503        1  ...       0.0       0.0       0.0       0.0       0.0
811504        1  ...       0.0       0.0       0.0       0.0       0.0
811505        1  ...       0.0       0.0       0.0       0.0       0.0
811506        3  ...       1.0       0.0       0.0       1.0       1.0
811507        5  ...       0.0       1.0       1.0       0.0       0.0

        Deaths26  IM_Deaths1  IM_Deaths2  IM_Deaths3  IM_Deaths4
0           68.0      1608.0         NaN         NaN         NaN
1           19.0      1178.0         NaN         NaN         NaN
2            1.0        41.0         NaN         NaN         NaN
3            0.0        29.0         NaN         NaN         NaN
4            0.0         0.0         NaN         NaN         NaN
...          ...         ...         ...         ...         ...
811503       0.0         0.0         0.0         0.0         0.0
811504       0.0         0.0         0.0         0.0         0.0
811505       0.0         0.0         0.0         0.0         0.0
811506       0.0         0.0         0.0         0.0         0.0
811507       0.0         0.0         0.0         0.0         0.0

[811508 rows x 39 columns]]

In [5]:
combined = pd.concat(data)
combined.head()

,Country,Admin1,SubDiv,Year,List,Cause,Sex,Frmat,IM_Frmat,Deaths1,...,Deaths21,Deaths22,Deaths23,Deaths24,Deaths25,Deaths26,IM_Deaths1,IM_Deaths2,IM_Deaths3,IM_Deaths4
0,1400,NaN,NaN,2001,101,1000,1,7,8,332,...,95.0,NaN,NaN,NaN,NaN,0.0,8.0,NaN,NaN,NaN
1,1400,NaN,NaN,2001,101,1000,2,7,8,222,...,112.0,NaN,NaN,NaN,NaN,0.0,11.0,NaN,NaN,NaN
2,1400,NaN,NaN,2001,101,1001,1,7,8,24,...,5.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN
3,1400,NaN,NaN,2001,101,1001,2,7,8,14,...,6.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN
4,1400,NaN,NaN,2001,101,1002,1,7,8,0,...,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN

In [7]:
combined.tail()

,Country,Admin1,SubDiv,Year,List,Cause,Sex,Frmat,IM_Frmat,Deaths1,...,Deaths21,Deaths22,Deaths23,Deaths24,Deaths25,Deaths26,IM_Deaths1,IM_Deaths2,IM_Deaths3,IM_Deaths4
811503,5020,NaN,NaN,2021,104,Y871,2,0,1,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
811504,5020,NaN,NaN,2021,104,Y872,1,0,1,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
811505,5020,NaN,NaN,2021,104,Y880,1,0,1,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
811506,5020,NaN,NaN,2021,104,Y883,1,0,1,3,...,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
811507,5020,NaN,NaN,2021,104,Y883,2,0,1,5,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
combined.to_csv("WHOMortality.csv")